*
!Dockerfile
!pyproject.toml
!uv.lock
!company_reviews/
!company_reviews/*.py
!models/
!models/manifest.json
!models/*.joblib
!models/deberta/
!models/deberta/*.json
!models/deberta/spm.model
!models/deberta/model.safetensors
